.bg-wrap {
  position: relative;
  background: $main-bg-color;
  overflow: hidden; // чтобы снаружи не было видно
}

.container {
  position: relative;

  margin: 0 auto;
  padding: 0 20px;
  max-width: 1280px;
  min-width: $minW;
  display: flex;
  flex-direction: column;
  //align-items: center;
  //min-height: 100vh;
  //overflow: visible;

  > main {
    flex: 1 0 auto
  }
  > header,main,footer {
    position: relative;;
    z-index: 40; // выше фонов
  }

  font-size: $main-font-size;
  font-weight: $main-font-weight;
  font-family: $main-font-family;
  color: $main-txt-color;


}


.btn-fixed-whatsapp {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 80px;
  height: 80px;
  background: url('/src/img/whatsapp-fixed.svg') 0 0 / contain no-repeat;
  z-index: 100;
  animation: floating 3s infinite ease-in-out;

  @media (max-width: 800px) {
    width: 60px;
    height: 60px;
  }

  @media (max-width:500px) {
    width: 40px;
    height: 40px;
  }
}



@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, -15px);
  }

  100% {
    transform: translate(0, 0px);
  }
}
