@font-face {
  font-family: 'NeueMachina';
  src: url("../fonts/NeueMachina-Ultralight.ttf") format('truetype');
  font-weight: 200
}
@font-face {
  font-family: 'NeueMachina';
  src: url("/src/fonts/NeueMachina-Light.ttf") format('truetype');
  font-weight: 300
}
@font-face {
  font-family: 'NeueMachina';
  src: url("/src/fonts/NeueMachina-Regular.ttf") format('truetype');
  font-weight: 400
}

//@font-face {
//  font-family: 'Miracle';
//  src: url("/src/fonts/MiracleWorldPersonalUse.otf") format("otf");
//
//}
//

@font-face {
  font-family: 'MiracleWorldPersonalUse';
  src: url('../fonts/MiracleWorldPersonalUse.woff') format('woff');

}
//@font-face {
//  font-family: 'miracle_world_personal_useRg';
//  src: url('../fonts/miracleworldpersonaluse-zvyez-webfont.woff2') format('woff2'),
//  url('../fonts/miracleworldpersonaluse-zvyez-webfont.woff') format('woff');
//  //font-weight: normal;
//  font-style: normal;
//
//}
//@font-face {
//  font-family: 'MiracleWorldPersonalUse';
//  src: url('../fonts/MiracleWorldPersonalUse-ZVYez.otf') format("opentype");
//  font-weight: normal;
  //font-style: normal;
//}
