.spot {
  position: absolute;
  pointer-events: none;
  cursor: default;
}


.spot__header-left {

  width: 1602px;
  height: 1263px;
  left: -688px;
  top: -481px;
}


.spot__header-right {

  width: 1807px;
  height: 1803px;
  top: -889px;
  right: -572px;
}


.spot__love-help {

}

.spot__cemetery {

  left: -405px;
  bottom: -378px;
}

.spot__egiliet {

  left: -1169px;
  bottom: -390px;
}

.spot__harmony {

  left: -568px;
  bottom: -425px;
}

.spot__love-spell {

  bottom: -500px;
  right: -420px;
}
